/* CSS Document */
body {
	background-image: url("images/bg.png");
  text-align: center;
  padding: 0px;
  margin: 0px;
  outline: 0px;
  border: 0px;
  font-family: arial;

}

#top
{
background-image: url(images/bgtop.png);
text-align: center;
margin: 0px auto;
padding-top: 40px;

}                       

#hlava {
  margin: 0px auto;
  text-align: center;
  height: 130px;
	width: 999px;
}


#menu {
	background-color: #16285a;
  width: 999px;
	height: 40px;
  margin: 0px auto 0px auto;
  text-align: center;
}

#links
{
font-size: 20px;
padding-top: 10px;
text-align: center;
}

#main {
      width: 999px;
      height: 100%;
      margin: 0px auto;
      text-align: center;
      height: 100%;
      background-color: white;
      border-width: 0px 1px 1px 1px;
      border-color: black;
      border-style: dashed;
      }
          
#hlavni {
        width: 770px;
        height: 100%;
        margin: 0px;
        font-size: 15px;
        font-family: verdana;
        text-align: left;
        float: left;
        padding: 0px 15px 0px 15px;
        
        }
        
#side
{
width: 188px;
height: 100%;
padding-left: 10px;
background-color: white;
float: right;
background-color: white;
border-width: 0px 0px 0px 1px;
border-style: dashed;
border-color: black;
      
}

#pata
{
height: 10px;
padding-bottom: 1px;
color: white;
}

                                                                                                   
a
{
text-decoration: underline;
color: white;
display: block;
width: 150px;
float: left;
}
            
a:visited
{
text-decoration: underline;
color: white;
display: block;
width: 150px;
float: left;
}
                       
a:hover
{
text-decoration: none;
color: white;
display: block;
width: 150px;
}
                       
a:active
{
text-decoration: none;
color: white;
display: block;
width: 150px;
}
    

